.form-item {
    padding: 5%;
    width: 90%;
}

.login-btn{
    background-color: #39ce39;
    padding: 4% 10%;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.login-btn:hover{
    background-color: #2cb62c;
}

.reset-btn{
    background-color: #becabe;
    padding: 4% 10%;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.reset-btn:hover{
    background-color: #a2aca2;
}
table{
    width:30%;
}